.Index-page {
    font-size: 1.2em;
    margin-bottom: 3em;
}

.Edit-link {
    text-decoration: none;
    padding-left: 0.5em;
}

.Log-info {
    color: #00b33c;
}

.New-btn {
    background-image: linear-gradient(to right, #76b852 0%, #8DC26F  51%, #76b852  100%);
}
.New-btn {
    margin: 10px;
    padding: 0.5em 2em;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    text-decoration: none;
}

.New-btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.Doc-input {
    font-size: 1em;
    line-height: 1em;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.6rem 0.6rem;
    box-sizing: border-box;
    width: 15rem;
    margin-bottom: 1.4rem;
}
