.App {
  text-align: center;
}

.App-logo {
  height: 200px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Trix {
    min-height: 200px;
}

.Save-button {
    background-image: linear-gradient(to right, #76b852 0%, #8DC26F  51%, #76b852  100%);
}
.Save-button {
    margin: 10px;
    padding: 0.5em 2em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.Save-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.Toolbar {
    text-align: right;
    padding: 0.2em 2em;
    border-bottom: 2px solid #000;
    background-color: #ccc;
}

.Doc-container {
    padding: 2em;
    background-color: #666;
}

.Links {
    color: #76b852;
    padding: 1em;
    font-size: 2em;
}

.Links:hover {
    color: #ebff84;
}
