.Save-button {
    background-image: linear-gradient(to right, #76b852 0%, #8DC26F  51%, #76b852  100%);
}
.Save-button {
    margin: 10px;
    padding: 0.5em 2em;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

.Save-button:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.Toolbar {
    text-align: right;
    padding: 0.2em 2em;
    border-bottom: 2px solid #000;
    background-color: #ccc;
    height: 3.5em;
}
